html{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

.header{
    height: 90px;
    background-color: rgb(68, 171, 83) ;

}

.header-logo{
    float: left;
    padding: 20px 20px;
    /* height: 50px; */
    width: 30px;
}

.header-list li{
    float: right;
    padding: 20px 20px;
}

.main{
    height: 700px;
    /* background-color: rgb(142, 245, 117); */
    background-image: url('PANDAWA.jpg');
    height: 100%;
    width: 100%;
}

.footer{
    height: 150px;
    background-color: rgb(38, 61, 29);
    /* padding: 0%; */
}

.footer-list li{
    padding: 5px 20px;
}

.container{
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(PANDAWA.jpg);
    background-size: cover;
    color: white;
    text-align: center;
}

.top-wrapper h1{
    opacity: 0,7;
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.top-wrapper p{
    opacity: 0,7;
    margin-bottom: 10px;
    
}
.btn-facebook{
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    color: white;
    background-color: blue;
    border-radius: 5px;
}
.btn-twitter{
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    color: white;
    background-color: lightblue;
    border-radius: 5px;
}
.koran-page{
    color:black ;
    background-color: white;
    width: auto;
    height: 800px;
}

.contact-form{
  padding-top: 50px;
}

textarea{
    padding: 20px;
}

input,textarea{
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 2px;
  font-size: 18px;
}
.submit-contact{
  background-color: blue;
  color: burlywood;
}

input,textarea{
  border: 1px solid blue;
}
.judul{
    /* float: left; */
    padding: 10px;
}
.isiartikel{
    padding: 10px 10px 10px 10px;
    column-count: 3;
    -webkit-column-count: 3;
    
}